<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Media"
            android:exported="false" />
        <activity
            android:name=".AboutHotelServices"
            android:exported="false" />
        <activity
            android:name=".MemberDetails"
            android:exported="false" />
        <activity
            android:name=".UserSignUp"
            android:exported="false" />
        <activity
            android:name=".BookingSuccessful"
            android:exported="false" />
        <activity
            android:name=".ReviewReservation"
            android:exported="false" />
        <activity
            android:name=".UserLandingPage"
            android:exported="false" />
        <activity
            android:name=".AboutHotel"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            />
        <activity
            android:name=".RegisterLoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>